<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405459472371-1u0e4m5725i28pignijdfg4hfdn2124r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405459472371-1u0e4m5725i28pignijdfg4hfdn2124r</string>
	<key>API_KEY</key>
	<string>AIzaSyA9-x-3XCfayIxGhurFC75hAHNxpletD60</string>
	<key>GCM_SENDER_ID</key>
	<string>405459472371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.onbank.mobile</string>
	<key>PROJECT_ID</key>
	<string>onbank-235217</string>
	<key>STORAGE_BUCKET</key>
	<string>onbank-235217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405459472371:ios:7680f5c80051729e1a0c86</string>
	<key>DATABASE_URL</key>
	<string>https://onbank-235217.firebaseio.com</string>
</dict>
</plist>